body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    text-align: left;
    margin: 10px;
    padding: 10px;
}

/* On mouse-over, add a deeper shadow */
/* .card:hover {
    padding: 2px 16px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    text-align: left;
} */

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}